<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   {% block styles %} {% endblock %}
   <title>{% block title %}Titeam - CarGeneration{% endblock %}</title>
</head>
<body>
<header>Titeam - CarGeneration</header>
    <nav>
       {% block nav %}
       <!-- {% if request.%} -->
       <ul>
            <li><a href="/carGeneration/accueil">Accueil</a></li>
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; Titeam</footer>
</body>
</html>